@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #F2E5A0, #D9923B);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(167, 112, 44, 0.663);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #542773;
    text-align: center;
    text-shadow: 2px 2px 3px #3217449f;
}

h2{
    color: #739146;
}

p {
    text-align: justify;
}
